[run]
omit =
  # omit anything in a .local directory anywhere
  */.local/*
  # omit everything in /usr
  /usr/*
  # omit this single file
  utils/tirefire.py

[paths]
source =
  des_process

[coverage]
omit =
  # omit anything in a .local directory anywhere
  */.local/*
  # omit everything in /usr
  /usr/*
  # omit this single file
  utils/tirefire.py
